.masthead{
    width: 188vw;
    margin-left: -2rem;
    padding: 1rem 2rem;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.masthead > h1 {
    flex-basis: 38vs;
    flex-grow: 0;
    flex-shrink: 1;
}